<div class="login-container">
  <header class="login__header">
    <div class="login__header__left">
      <img src="../../../assets/fblogo.png" alt="" />
      <h2>Facebook is kinda ok I guess.</h2>
    </div>
    <div class="login__header__right">
      <mat-card class="login__header__right__card">
        <mat-card-content class="login__header__right__card__content">
          <form #form="ngForm" class="login-form" (ngSubmit)="login(form)">
            <input
              type="text"
              name="email"
              ngModel
              placeholder="Email pls"
              required
            />
            <input
              type="password"
              name="password"
              ngModel
              placeholder="Password pls"
              required
            />
            <button
              type="submit"
              class="login-button"
              [disabled]="form.invalid || form.pending"
            >
              Login
            </button>
          </form>

          <a href="#">Forgotten your account, have you?</a>
          <button class="create-account" (click)="(openRegister)">
            Create new lifezucc :)
          </button>
        </mat-card-content>
      </mat-card>

      <p class="tagline"><strong>Create a dank meme page.</strong> or... something else?</p>
    </div>
  </header>
  <footer class="login__footer">
    <p>These are where the links would go... IF I HAD ANY.</p>
  </footer>
</div>
